<div class="contenedor-form">

  <h2>Editar Producto</h2>
  <div class="linea"></div>

  <form [formGroup]="productoForm" (ngSubmit)="guardar()">

    <div class="fila">
      <div class="campo-grupo">
        <label>ID</label>
        <input 
          type="text" 
          class="campo disabled" 
          formControlName="id"
          readonly
        >
      </div>

      <div class="campo-grupo">
        <label>Nombre del producto</label>
        <input 
          type="text" 
          class="campo"
          formControlName="name"
        >
      </div>
    </div>

    <div class="fila">
      <div class="campo-grupo">
        <label>Descripción</label>
        <input 
          type="text"
          class="campo"
          formControlName="description"
        >
      </div>

      <div class="campo-grupo">
        <label >Logo (URL)</label>
        <input 
          type="text"
          class="campo"
          formControlName="logo"
        >
      </div>
    </div>

    <div class="fila">
      <div class="campo-grupo">
        <label>Fecha Liberación</label>
        <input 
          type="date" 
          class="campo"
          formControlName="date_release"
        >
      </div>

      <div class="campo-grupo">
        <label>Fecha Revisión</label>
        <input 
          type="date" 
          class="campo"
          formControlName="date_revision"
        >
      </div>
    </div>

    <div class="botones">
      <button type="submit" class="btn-enviar">Guardar cambios</button>
    </div>

  </form>
</div>
