<div class="contenedor-form">

  <h2>Formulario de Registro</h2>
  <div class="linea"></div>

  <form [formGroup]="productoForm" (ngSubmit)="agregar()">

    <div class="fila">
      <div class="campo-grupo">
        <label>ID</label>
        <input 
          type="text"
          formControlName="id"
          class="campo"
          [ngClass]="{'invalido': productoForm.get('id')?.invalid && productoForm.get('id')?.touched}"
          placeholder=""
        >
        <p class="error" *ngIf="productoForm.get('id')?.invalid && productoForm.get('id')?.touched">
          ID no válido!
        </p>
      </div>

      <div class="campo-grupo">
        <label>Nombre del producto</label>
        <input 
          type="text"
          formControlName="name"
          class="campo"
          [ngClass]="{'invalido': productoForm.get('name')?.invalid && productoForm.get('name')?.touched}"
        >
      </div>
    </div>

    <div class="fila">
      <div class="campo-grupo">
        <label>Descripción</label>
        <input
          type="text"
          formControlName="description"
          class="campo"
          [ngClass]="{'invalido': productoForm.get('description')?.invalid && productoForm.get('description')?.touched}"
        >
        <p class="error" *ngIf="productoForm.get('description')?.invalid && productoForm.get('description')?.touched">
          Este campo es requerido!
        </p>
      </div>

      <div class="campo-grupo">
        <label>Logo</label>
        <input
          type="text"
          formControlName="logo"
          class="campo"
          [ngClass]="{'invalido': productoForm.get('logo')?.invalid && productoForm.get('logo')?.touched}"
        >
        <p class="error" *ngIf="productoForm.get('logo')?.invalid && productoForm.get('logo')?.touched">
          Este campo es requerido!
        </p>
      </div>
    </div>

    <div class="fila">
      <div class="campo-grupo">
        <label>Fecha Liberación</label>
        <input type="date" formControlName="date_release" class="campo">
      </div>

      <div class="campo-grupo">
        <label>Fecha Revisión</label>
        <input type="date" formControlName="date_revision" class="campo disabled" />

      </div>
    </div>

    <div class="botones">
      <button type="button" class="btn-limpiar" (click)="productoForm.reset()">Reiniciar</button>
      <button type="submit" class="btn-enviar">Enviar</button>
    </div>

  </form>
</div>
